package views

templ About() {
	<article class="about-article">
		<h2>Sobre o Projeto</h2>
		<p>Este site faz parte de uma tese de graduação cujo objetivo foi avaliar o desempenho de diferentes abordagens...</p>
	</article>
	<article class="about-article">
		<h2>Sobre a Implementação</h2>
		<p>O protótipo inicial foi concebido no Figma, priorizando uma navegação fluida e foco em legibilidade de conteúdo...</p>
	</article>
}
